#step_1_change_selection {
}
#step_1_content {
    text-align: center;
}
#window_button {
    width: 150px;
}
#door_button {
    width: 150px;
}
#step_1_container {
}
#step_2_proceed {
	right: 8%;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.input-group {
	padding-bottom: 10px;
	padding-top: 10px;
}

#proceed_to_step_4 {
	float: right;
}